<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <ul>
                    <li>
                        <p>To Create a To do list with new name just put /monday for eg: <a href="/tuesday">Click</a> It
                            will create a to do list of tuesday</p>
                    </li>
                    <li>
                        <p>In default To do list if you will delete an item the default three Items will come</p>
                    </li>
                </ul>
            </h1>
        </div>
    </div>
</div>